.assistance {
	background: url('../img/assistance_mobile.jpg') no-repeat;
	background-size:cover;
	color: #fff;
	padding:2.3em 0;
	text-align:center;

	a {
		color: #fff;
	}

	h2 {
		color: #fff;
		margin-bottom:.8rem;
	}

	p {
		font-size: 1.2em;
		margin:0 0 1rem;
	}

	ul {
		font-weight: 600;
		font-size:1.2em;

		li {
			margin:0 0 .4rem;
		}
	}

	@media (min-width:680px) {
		//background-image: url('../img/assistance_desktop.jpg');
		background: url('../img/assistance_desktop.jpg') no-repeat;
	}
}