.banner {
	background: url('../img/placeholder_mobile.jpg') no-repeat center right;
	background-size:cover;
	min-height: 300px;
	padding: 1em 1em 0;
	transition: all ease 0.2s;

	@media all and (min-width:500px) {
		background-image: url('../img/placeholder.jpg');
		background-position: left 20%;
	}

	@media all and (min-width:680px) {
		margin:0 0 1em;
		min-height: 400px;
	}
}

.banner-contain {
	max-width:1440px;
	margin:0 auto;
}