.banner {
	background: url('/img/placeholder600.jpg') no-repeat top right;
	background-size:cover;
	min-height:250px;
	padding: 1em;

	@media all and (min-width:500px) {
		background-image: url('/img/placeholder1024.jpg');
		min-height: 300px;
	}

	@media all and (min-width:768px) {
		min-height:400px;
	}

	@media all and (min-width:960px) {
		background-image: url('/img/placeholder.jpg') center;
		min-height: 500px;
	}
}

.callout {
	padding: 1em;
}