.callout {
	background: $steel-blue;
	color: #fff;
	margin: 0 0 1em;
	padding: 2em 1em;

	h1 {
		color: #fff;
	}

	p {
		font-size:1.2em;
		margin:.5em 0 0;
	}

	@media (min-width:680px) {
		background: rgba($steel-blue, .6);
		width: 420px;
		float:left;
		margin:-300px 0 0 1em;
		padding:2em;

		h1 + p {
			margin:0 0 1em;
		}
	}

	@media all and (min-width:960px) {
		margin:-300px 0 0;
	}

	@media all and (min-width:1541px) {
		margin-left: 2em;
	}
}