.callout {
	background: $steel-blue;
	color: #fff;
	margin: 0 0 1em;
	padding: 2em 1em;

	h1 {
		color: #fff;
	}

	p {
		font-size:1.2em;
		margin:.5em 0 0;
	}

	@media (min-width:680px) {
		background: rgba($steel-blue, .6);
		width: 420px;
		float:left;
		margin:-300px 0 0 1em;
		padding:2em;

		h1 + p {
			margin:0 0 1em;
		}
	}

	@media all and (min-width:960px) {
		margin:-300px 0 0;
	}

	@media all and (min-width:1541px) {
		margin-left: 2em;
	}
}

.btn {
		background-color: white;
		border-radius: 3px;
		//border-bottom: 2px solid darken($mint, 5);
		color: $steel-blue;
		font-weight:400;
		overflow: hidden;
		padding: 1.125em 1.625em;
		text-decoration: none;
		transition: padding 0.5s;

		&:hover {
			background-color: darken(white, 10%);
		}
}