.callout {
	background: $leaf;
	color: #fff;
	margin: 0 0 1em;
	padding: 2em 1em;

	h1 {
		color: #fff;
	}

	p {
		font-size:1.2em;
		margin:.5em 0 0;
	}

	@media (min-width:680px) {
		background: rgba($leaf, .8);
		width: 420px;
		float:left;
		margin:-320px 0 0;
		padding:2em;

		h1 + p {
			margin:0 0 1em;
		}
	}

	@media all and (min-width:960px) {
		top:280px;
	}
}

.callout-extra {
	padding: 1em;
	margin:0 0 1em;

	@media (min-width:700px) {
		margin:0;
		padding:0 1em 1em 0;
		display:table-cell;
		vertical-align: top;
	}
}

.table-layout {
	@media (min-width:700px) {
		display:table;
		padding:0 1em;
	}
}