.enrollment {
	padding: 1em;

	h1 {
		display:none;
		font-size:2em;
		text-align: center;
	}

	@media (min-width:680px) {
		h1 {
			display:block;
		}
	}

	@media (min-width:960px) {
		margin-top:3em;
	}
}

.no-svg .enrollment-options a.call-to-action:after {
	background-image: url('../img/arrow.png');
}

.enrollment-options {
	margin-top: 1em;

	h3 {
		color: $charcoal;
		font-family: "Source Sans Pro", sans-serif;
		font-weight:600;
		text-align:left;
	}

	h3 + p {
		margin:0;
	}

	li {
		background-position: center 1em;
		background-repeat: no-repeat;
		list-style: none;
		margin:0 0 3em;
		padding: 120px 1em 3em;
		position: relative;
		
		h2 {
			color: $steel-blue;
			font-family: 'Source Sans Pro';
			font-weight: 600;
			text-transform: uppercase;
			text-align: center;
		}

	}
	
	.call-to-action {
		display: block;
		color: $steel-blue;
		font-size: 1.2em;
		font-weight:600;
		line-height: 1em;
		margin: 3em auto 0;
		text-align: center;
		position: relative;
		max-width:250px;

			span {
				color: $ocean;
				display:block;
				font-weight:400;
				line-height:1.5;
				width:100%;
			}
	}

	a.call-to-action {
		background-color: $mint;
		border-radius: 3px;
		border-bottom: 2px solid darken($mint, 5);
		color: #fff;
		font-weight:400;
		overflow: hidden;
		padding: 1em;
		text-decoration: none;
		transition: padding 0.5s;

		&:after {
			background:transparent url('../img/arrow.svg') no-repeat center center;
			content: '';
			height: 25px;
			opacity: 0;
			position: absolute;
			right: -25px;
			top: 17px;
			transform: rotate(180deg);
			transition: right 0.5s, opacity 1s, transform 0.5s;
			width: 25px;
		}

		&:hover {
			padding-right: 2em;
		}

		&:hover:after {
			opacity: 1;
			right: 10px;
			transform: rotate(0deg);
		}
		
		&:active {
			background-color: darken($mint, 5);
		}
	}
}

.in-person {
	background-image: url('../img/icon-person.svg');
}

.no-svg .in-person {
	background-image: url('../img/icon-person.png');
}

.by-phone {
	background-image: url('../img/icon-phone.svg');
}

.no-svg .by-phone {
	background-image: url('../img/icon-phone.png');
}

.online {
	background-image: url('../img/icon-laptop.svg');
}

.no-svg .online {
	background-image: url('../img/icon-laptop.png');
}

@media all and (min-width: 680px) {
  .enrollment-options {
	  display: table;
	  table-layout: fixed;
	  width: 100%;
	  
	  li {
		  display: table-cell;
		  
		& + li {
			border-left:10px solid #fff;
		}
	  }
  }
}
