.enrollment {
	padding: 1em;
}

.enrollment-options {
	margin-top: 1em;
	
	// Stretch blocks to the edges of the screen
	margin-left: -1em;
	margin-right: -1em;
	h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}

	li {
		background-color: $steel-blue;
		background-position: center 1em;
		background-repeat: no-repeat;
		color: #fff;
		list-style: none;
		padding: 120px 1em 6em 1em;
		position: relative;
		
		h2 {
			margin-top: 0;
			text-align: center;
		}
		
		&:nth-child(even) {
			background-color: rgba($steel-blue, 0.85);
		}

	}
	
	.call-to-action {
		display: block;
		font-size: 1em;
		line-height: 1em;
		margin: 0;
		text-align: center;
		position: absolute;
			bottom: 1em;
			left: 1em;
			right: 1em;

			span {
				color: $ocean;
				display:block;
				font-size:1.6em;
				line-height:1.5;
				width:100%;
			}
	}

	a.call-to-action {
		background-color: $mint;
		border-radius: 3px;
		border-bottom: 2px solid darken($mint, 5);
		color: #fff;
		font-size:1.1em;
		overflow: hidden;
		padding: 1em;
		text-decoration: none;
		transition: padding 0.5s;

		&:after {
			background:transparent url('/img/arrow.svg') no-repeat center center;
			content: '';
			height: 25px;
			opacity: 0;
			position: absolute;
			right: -25px;
			top: 15px;
			transform: rotate(180deg);
			transition: right 0.5s, opacity 1s, transform 0.5s;
			width: 25px;
		}

		&:hover {
			padding-right: 2em;
		}

		&:hover:after {
			opacity: 1;
			right: 10px;
			transform: rotate(0deg);
		}
		
		&:active {
			background-color: darken($mint, 5);
		}

	}
}

.in-person {
	background-image: url('/img/icon-person.svg');
}

.by-phone {
	background-image: url('/img/icon-phone.svg');
}

.online {
	background-image: url('/img/icon-laptop.svg');
}

@media all and (min-width: 960px) {
  .enrollment-options {
	  display: table;
	  table-layout: fixed;
	  width: 100%;
	  
	  li {
		  display: table-cell;
		  
		& + li {
			border-left:10px solid #fff;
		}
	  }
  }
}
