.page-footer {
	background: $steel-blue;
	color: #fff;
	padding-top:1em;
}

.legal {
	padding: 1em;

	a {
		display:inline-block;
		margin:0 0 2em;
		width:100%;
		text-align:center;
	}

	@media (min-width:680px) {
		a {
			width:25%;
			vertical-align:top;
		}

		.pull-right {
			display:inline-block;
			padding:0 0 0 1em;
			width:70%;
		}
	}
}