* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  color: $steel-blue;
  font-family: 'Oswald', 'sans-serif';
  font-weight: 300;
  margin: 1em 0 0 0;
}

h1 {
  font-size: 2.4em;
  margin-bottom:1rem;
}

h2 {
  color: $leaf;
  font-size:2.4em;
  margin-bottom:1rem;
}

h3 {
  font-size:1.5em;
}

strong {
  font-weight: 600;
}

a {
  color: $dark-red;
  text-decoration:underline;
}

img {
  border:0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type:none;
}

p {
  margin: 1em 0 0 0;
}

img {
  max-width:100%;
}

.contain {
  margin: 0 auto;
  padding:0 .8em 0;
}

@media all and (min-width: 768) {
  .contain {
    width: 768px;
  }
}

@media all and (min-width: 960px) and (max-width: 1240px) {
  .contain {
    width: 960px;
  }
}

@media all and (min-width: 1241px) {
  .contain {
    width: 1200px;
  }
}

@media all and (min-width:1541px) {
  .contain {
    width:1440px;
  }
}

:first-child {
  margin-top: 0;
}

iframe {
  max-width:100%;
}