header {
	background: rgba(255,255,255,0.8);
	padding: 1em;
	position:fixed;
	top:0;
	width:100%;
	z-index:99;
	
	img {
		height: 50px;
	}
}
.enrollment-message {
	float: right;
	font-weight: 400;
	margin-top: 0;
	text-align: right;
}

.enrollment-dates {
	color: $ocean;
	display: block;
}

@media all and (min-width: 960px) {

}