.options {
	background: url('../img/options_mobile.jpg') no-repeat $steel-blue;
	background-size:cover;
	color:#fff;
	font-weight:600;
	padding:2em 0 1.5em;
	margin:2em 0;
	text-align:center;

	h2, h3 {
		color: #fff;
	}

	h3 {
		font-family: 'Source Sans Pro';
		font-weight:600;
		font-size:1em;
	}

	p {
		margin:1.5em 0;
		font-size:1.3em;
	}

	@media (min-width:680px) {
		background: url('../img/options_desktop.jpg') no-repeat; 
		background-size:cover;
	}

	@media (min-width:1241px) {
		.contain {
			width:850px;
		}
	}

	li {
		font-family: 'Oswald';
		font-size:1.2em;
		font-weight:400;
		padding:2px;
	}
}

.benefits-icon-list {
	margin:1em 0;


	&:after {
		display:table;
		clear:both;
		content: '';
	}

	li {
		float: left;
		font-family: 'Source Sans Pro';
		font-size:1em;
		font-weight:600;
		margin: 0px 0px 1.5em;
		line-height: 1;
		padding: 3.3em 0px 0px;
		width: 33%;
	}

	@media (min-width:480px) {
	   display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-align-content: center;
	    -ms-flex-line-pack: center;
	    align-content: center;
	    -webkit-align-items: flex-start;
	    -ms-flex-align: start;
	    align-items: flex-start;

	    li {
	    	width: 25%;
	    }
	}

	@media (min-width: 680px) {
		display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-align-content: center;
	    -ms-flex-line-pack: center;
	    align-content: center;
	    -webkit-align-items: flex-start;
	    -ms-flex-align: start;
	    align-items: flex-start;

	    li {
	    	padding:3.3em 1em 0;
	    	width:auto;
	    }

	}


}

.no-flexbox .benefits-icon-list {
	margin: 1em auto 0;

	li {
			width:25%;
	}
	
	@media (min-width:680px) {
		width:600px;
	}
}

.icon-accident {
	background: url('../img/accident.svg') no-repeat center 5px;
}

.icon-cancer {
	background: url('../img/Cancer.svg') no-repeat center 5px;
}

.icon-critical {
	background: url('../img/criticalillness.svg') no-repeat center 0;
}

.icon-dental {
	background: url('../img/dental-tooth.svg') no-repeat center 0;
}

.icon-disability {
	background: url('../img/disability.svg') no-repeat center 0;
}

.icon-hospital {
	background: url('../img/hospital.svg') no-repeat center 0;
}

.icon-life {
	background: url('../img/life.svg') no-repeat center 0;
} 

// no SVG fallback

.no-svg .icon-accident {
	background: url('../img/accident.png') no-repeat center 5px;
}

.no-svg .icon-cancer {
	background: url('../img/cancer.png') no-repeat center 5px;
}

.no-svg .icon-critical {
	background: url('../img/criticalillness.png') no-repeat center 0;
}

.no-svg .icon-dental {
	background: url('../img/dental-tooth.png') no-repeat center 0;
}

.no-svg .icon-disability {
	background: url('../img/disability.png') no-repeat center 0;
}

.no-svg .icon-hospital {
	background: url('../img/hospital.png') no-repeat center 0;
}

.no-svg .icon-life {
	background: url('../img/life.png') no-repeat center 0;
} 