.requirements {
	background: $charcoal;
	color: #fff;
	margin:0 0 2em;
	padding: 2em 1em;

	p {
		font-style: italic;
	}

	h1 {
		color: #fff;
	}

	ul {
		font-size: 1.1em;
		font-weight: 600;
		margin: .5em 0 0;
		padding-left: 40px;

		li {
			line-height: 1.5;
		}
	}

	@media (min-width:700px) {
		display:table-cell;
		width:50%;
	}
}
