.survey-results {
	background: url('../img/employeestat.svg') no-repeat center 2em #C7CCCF;
	color: $steel-blue;
	padding:12em 0 2em;
	text-align:center;

	h2 {
		color: $steel-blue;
		font-size: 2.1em;
		margin:0;
	}

	h3 {
		font-size:2em;
		margin:.25em 0 0;
	}

	// @media (min-width:680px) {
	// 	background: url('../img/employeestat.svg') no-repeat left center #C7CCCF;
	// 	text-align:left;
	// }
}