.youville-vdm {
	h1, h2, h3, h4, h5, h6 {
		color: $leaf;
		font-family: "Source Sans Pro";
		font-weight:600;
	}

	h1 {
		font-size:2.2em;

		@media (min-width:680px) {
			font-size:2.4em;
		}
	}

	.btn {
		background: $leaf;
		color: #fff;

		&:hover, &:active {
			background: darken($leaf, 10%);
		}
	}

	.page-header {
		font-family: "Source Sans Pro";
		font-weight: 600;
	}

	.banner {
		background: url('../img/sky_mobile.jpg') no-repeat center center;
		background-size:cover;
		height:380px;

		@media (min-width:680px) {
			background-image: url('../img/sky_desktop.jpg');
		}
	}

	.enrollment-message {
		color: $leaf;
	}

	.callout {
		background: #fff;
		border-radius:8px;
		color:$youville-blue;
		min-height:auto;
		
		text-align:center;

		float:left;
		margin:-285px 0 0;


		@media (min-width:680px) {
			padding:2em;
			margin-top:-300px;
			margin-left:calc(50% - 225px);
		}
	}

	.options {
		background-image: url('../img/options-youville-mobile.jpg');
		color: $charcoal;
		font-weight:400;

		.contain {
			background: #fff;
			border-radius: 8px;
			margin:1em .5em;
			padding:1em;

			@media (min-width:680px) {
				margin:0 auto;
				width:680px;
			}

			@media (min-width:992px) {
				width:850px;
			}
		}

		h3 {
			color: $charcoal;
			font-weight:400;
		}

		ul {
			color: $youville-blue;

			li {
				font-family: 'Source Sans Pro';
				font-weight:600;
			}
		}

		@media (min-width:680px) {
			background-image: url('../img/options-youville-desktop.jpg');
		}
	}

	.icon-accident {
		background: url('../img/accident-youville.svg') no-repeat center 5px;
	}

	.icon-cancer {
		background: url('../img/cancer-youville.svg') no-repeat center 5px;
	}

	.icon-critical {
		background: url('../img/criticalillness-youville.svg') no-repeat center 0;
	}

	.icon-dental {
		background: url('../img/dental-youville.svg') no-repeat center 0;
	}

	.icon-disability {
		background: url('../img/disability-youville.svg') no-repeat center 0;
	}

	.icon-hospital {
		background: url('../img/hospital-youville.svg') no-repeat center 0;
	}

	.icon-life {
		background: url('../img/life-youville.svg') no-repeat center 0;
	} 

	// no SVG fallback

	.no-svg .icon-accident {
		background: url('../img/accident-youville.png') no-repeat center 5px;
	}

	.no-svg .icon-cancer {
		background: url('../img/cancer-youville.png') no-repeat center 5px;
	}

	.no-svg .icon-critical {
		background: url('../img/criticalillness-youville.png') no-repeat center 0;
	}

	.no-svg .icon-dental {
		background: url('../img/dental-youville.png') no-repeat center 0;
	}

	.no-svg .icon-disability {
		background: url('../img/disability-youville.png') no-repeat center 0;
	}

	.no-svg .icon-hospital {
		background: url('../img/hospital-youville.png') no-repeat center 0;
	}

	.no-svg .icon-life {
		background: url('../img/life-youville.png') no-repeat center 0;
	} 

	.enrollment-options h3 {
		color: $youville-blue;
	}

	.enrollment-options h4 {
		color: $charcoal;
	}

	.benefits-blurb {
		h3 {
			color: $youville-blue;
		}
	}

	.in-person {
		background-image: url('../img/icon-person-youville.svg');
	}

	.no-svg .in-person {
		background-image: url('../img/icon-person-youville.png');
	}

	.by-phone {
		background-image: url('../img/icon-phone-youville.svg');
	}

	.no-svg .by-phone {
		background-image: url('../img/icon-phone-youville.png');
	}

	.online {
		background: url('../img/icon-online-youville.svg') no-repeat center top;
	}

	.no-svg .online {
		background: url('../img/icon-online-youville.png') no-repeat center top;
	}

	a.call-to-action {
		background: $youville-blue;

		&:hover {
			background-color: darken($youville-blue, 10%);
		}
	}

	.requirements {
		background: url('../img/dependents_youville_mobile.jpg') center center no-repeat;
		background-size:cover;
		color: $youville-blue;
		padding-top:3em;
		padding-bottom:3em;

		.contain {
			background:#fff;
			border-radius:8px;
			padding-top:2em;
			padding-bottom:.5em;

			@media (min-width:768px) {
				width:680px;
			}
		}

		@media (min-width:680px) {
			background-image: url('../img/dependents_youville_desktop.jpg') 
		}
	}

	.name {
		background: url('../img/profile-small_youville.svg') no-repeat center 5px;
	}

	.birthday {
		background: url('../img/birthday_youville.svg') no-repeat top center;
	}

	.ssn {
		background: url('../img/ssn_card_youville.svg') no-repeat center 10px;
	}

	.address {
		background: url('../img/house-small_youville.svg') no-repeat center 10px;
	}

	//IE8 PNG Fallback

	.no-svg .name {
		background-image: url('../img/profile-small_youville.png');
	}

	.no-svg .birthday {
		background-image: url('../img/birthday_youville.png');
	}

	.no-svg .ssn {
		background-image: url('../img/ssn_card_youville.png');
	}

	.no-svg .address {
		background-image: url('../img/house-small_youville.png')
	}

	.learn-more {
		h3, .li-stats {
			color: $youville-blue;
		}
	}

	.assistance {
		font-weight:400;
		background: $youville-blue;
	}

	.page-footer {
		background: #fff;
		color: $steel-blue;
	}
}